<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/article.css" />
</th:block>

	<div layout:fragment="content" id="bbs"
	th:if="${#strings.isEmpty(errorMessage)}">
	
	</div>
<th:block layout:fragment="script">
	<script th:inline="javascript">
		var errorMessage = [[${errorMessage}]];
		if(errorMessage != null) {
			alert(errorMessage);
		}
	</script>
</th:block>
</html>