<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<div th:fragment="header" class="header">
	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid">
			<ul class="navbar-nav" style="padding: 0 50px;">
				<li class="nav-item"><a class="nav-link" href="/"
					style="font-weight: 900;">HOME</a></li>
				<li class="nav-item"><a class="nav-link" href="list"
					style="font-weight: 900;">POST</a></li>
				<li class="nav-item"><a class="nav-link" href="created"
					style="font-weight: 900;">WRITE</a></li>
			</ul>
		</div>
	</nav>
</div>

</html>