<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<div th:fragment="header" class="header">
	<div class="container" style="margin-bottom: 50px">
		<header
			class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
			<a href="/"
				class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
				꺄악 </a>
			<ul
				class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
				<li><a href="/" class="nav-link px-2 link-dark">Home</a></li>
				<li><a href="/" class="nav-link px-2 link-dark">Post</a></li>
			</ul>
		</header>
	</div>
</div>
</html>