@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Nanum Gothic', sans-serif;
}

ul {
	list-style: none;
}

.navbar {
	background-color: #000000 !important;
}

.nav-link {
	color: #ffffff !important;
}

.nav-link:active {
	color: #f15a22 !important;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: #000000;
}

#top3 {
	margin: 0px !important;
	padding: 0px !important;
}

#bbs {
	padding: 185px 0;
}

.header {
	width: 100%;
	position: fixed;
	top: 0;
}

.home-tit {
	font-size: 28px; 
	font-weight: 900; 
	color: #f15a22;
	margin-bottom: 30px;
}

.footer {
	width: 100%;
	height: 84px;
	line-height: 84px;
	background-color: #f15a22;
}