<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</th:block>

<div layout:fragment="content" id="bbs">
	<div class="container text-center">
		<h2 style="font-size: 24px; font-weight: bold; margin-bottom: 30px">인기글</h2>
		<ul class="row" id="top3">
			<li class="col" th:each="post:${top3}"><a href="">
					<div class="thum">
						<img alt="" src="" width="320" height="320">
					</div>
					<div class="main-content">
						<p class="category" th:text="${post.category}"></p>
						<h3 class="tit" th:text="${post.tit}"></h3>
						<p class="reg_date" th:text="${post.reg_date}"></p>
					</div>
			</a></li>
		</ul>
	</div>
</div>
</div>
<th:block layout:fragment="script">
</th:block>
</html>